impo .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.footer {
  text-align: center;
}

.dev {
  margin-bottom: 1em;
  width: 10em;
  border-radius: 100%;
}

.footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: 1fr;
  grid-template-areas: "header";
}

.profilePic img {
  grid-area: profilePic;
}

.footer h3 {
  grid-area: header;
}

.linkedin {
  color: #1a8f85;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header";
    text-align: center;
    font-size: 30px;
  }

  .profilePic img {
    height: 250px;
    width: 250px;
  }

  .profilePic p {
    font-size: 25px;
  }

  @media screen and (min-width: 1368px) {
    .footer {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "header header header header";
      text-align: center;
      font-size: 30px;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
